<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/joystick.png" width="30" height="30" alt="angular logo">
      </a>
    <a class="navbar-brand" href="#">GOTY</a>

    <div class="navbar navbar-inverse navbar-fixed-top" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/inicio">Inicio </a>
            </li>
            <li class="nav-item"  routerLinkActive="active">
                <a class="nav-link" routerLink="/goty">Votar</a>
            </li>
        </ul>
    </div>
</nav>